<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Nosotros</title>

    <link rel="stylesheet"
          href="/css/styles.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>


<%- include('partials/header') %>
<main class="main-content">
<div class="container">

    <div class="form-card nosotros-card">

        <h1>
            👨‍💻 Nosotros
        </h1>

        <p>

            Somos un grupo de estudiantes de la
            DIPLOMATURA UNIVERSITARIA EN DESARROLLO
            WEB FULL STACK CON JAVASCRIPT dictada
            por el NODO TECNOLÓGICO de la
            PROVINCIA DE CATAMARCA.

        </p>

        <p>

            Para mayor información del
            NODO TECNOLÓGICO dirigirse a:

        </p>

        <a
            href="https://nodotecnologico.com.ar/#cursos"
            target="_blank"
            class="btn btn-add"
        >
            NODO
        </a>

    </div>

</div>
</main>
<%- include('partials/footer') %>
</body>
</html>