<footer class="footer">

    <p>
        © 2026 - SuperApp | Creado por Renato G. Trentini
    </p>

    <p>
        📞 Tel: 3834290035
    </p>

    <p>
        ✉️ Email:
        <a href="mailto:cibertre@gmail.com">
            cibertre@gmail.com
        </a>
    </p>

</footer>

