<nav class="navbar">

    <div class="logo">

        🦸 SUPERAPP

    </div>

    <ul class="nav-links">

        <li>
            <a href="/">
                <i class="fa-solid fa-house"></i>
                Inicio
            </a>
        </li>

        <li>
            <a href="/heroes">
                <i class="fa-solid fa-shield-halved"></i>
                Superhéroes
            </a>
        </li>

        <li>
            <a href="/heroes/agregar">
                <i class="fa-solid fa-circle-plus"></i>
                Agregar
            </a>
        </li>

        <li>
            <a href="/nosotros">
                <i class="fa-solid fa-users"></i>
                Nosotros
            </a>
        </li>

    </ul>

</nav>